@import "tailwindcss";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

body {
}

.scroll {
    overflow-y: auto;

    /* Firefox */
    scrollbar-width: none;

    /* IE & Edge lama */
    -ms-overflow-style: none;
}

/* Chrome, Edge, Safari, Opera */
.scroll::-webkit-scrollbar {
    display: none;
}
